*{
  margin:0;
  
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #18181B;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#1A5FFF;
  border-radius: 12px;
}

.Dark{
    background:#18181B;
    color:white;
}

.Light{
  background: #FFFFFF;
  color:black
}